*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.woff2?t=1701431370023') format('woff2'),
        url('iconfont.woff?t=1701431370023') format('woff'),
        url('iconfont.ttf?t=1701431370023') format('truetype');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 50px!important;
    font-style: normal;
    color: rgba(240, 240, 240, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#one {
    position: relative;
    top: -45px;
    left: 6px;
    font-size: 38px !important;
    font-weight: 700;
}
#two {
    position: relative;
    top: -43px;
    left: 8px;
    font-size: 35px !important;
    font-weight: 700;
}
#three {
    position: absolute;
    top: 35px;
    left: 50px;
    font-size: 75px !important;
}
#four {
    position: absolute;
    text-align: center;
    font-size: 175px !important;
}
.photo {
    position: relative;
    font-size: 22px !important;
    top: -40px;
}
.background {
    position: relative;
    margin: 0px auto;
    width: 600px;
    height: 1060px;
    background: url(background.png);
}
.title {
    position: absolute;
    margin: 32px 20px 0px 20px;
    width: 560px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.title_picture1 {
    width: 50px;
    height: 50px;
}
.title_picture2 {
    width: 50px;
    height: 50px;
}
.title_text {
    width: 460px;
    height: 50px;
    color: #cfe8eb;
    text-align: center;
    font-size: 32px;
}
.body {
    position: absolute;
    margin: 170px 80px 0px 80px;
    width: 440px;
    height: 465px;
}
.body_picture {
    position: relative;
    margin: 0px auto;
    width: 150px;
    height: 150px;
}
.body_text {
    position: relative;
    top: 40px;
    width: 440px;
    height: 275px;
    font-size: 22px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: -10px;
}
.input {
    width: 440px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e0dcdc;
    margin-bottom: 10px;
}
.password {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #e0dcdc;
    width: 350px;
}
.show {
    float: right;
    margin-right: 15px;
    padding: 5px 0px;
    font-size: 20px;
    color: #3dfcb5;
}
.button {
    position: absolute;
    top: 710px;
    margin: 0px 80px;
    width: 440px;
    height: 60px;
    padding-top: 15px;
    border-radius: 150px;
    background-color: white;
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    color: #706d9f;
}
.foot {
    position: absolute;
    top: 820px;
    margin: 0px 150px;
    width: 300px;
    height: 25px;
    text-align: center;
    font-size: 22px;
}
.foot a{
    color: #3dfcb5;
}